<!DOCTYPE html>
<!-- {% if cars_genereated %}
    <a target="_self" href="/cars">HOME</a><br><br>
    cars generated: {{ cars_genereated }}
    
    { % else %}
    error
    {% endif %}
    
     -->
<html>
    <head></head>
    <body>
        <center>
            <h1><font color="red">PARKING LOT</font></h1>
            <h1></h1>
            <hr>
        </center>
        <a target="_self" href="/cars"><font color="green">HOME</font></a><br><br>
        {% if cars_genereated %}
        cars generated: {{ cars_genereated }}
        {% else %}
        error: {{ invalid }}    
        {% endif %}
    </body>
</html>
