<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <center>
            <h1><font color="red">PARKING LOT</font></h1>
            <h1></h1>
        </center>
        <hr>
       <a target="_self" href="/cars"><font color="red">HOME</font></a><br><br>
        <h2> Search by Registration Number</h2>
        <form action="/cars/view_result_reg_source">
            <div>
                <input type="search" colour="mySearch" name="reg_number">
                <!--     <input type="hidden" value="{{ colour }}" name="colour"> -->
                <button>Search</button>
            </div>
        </form>
    </body>
</html>
