<!DOCTYPE html>
<!DOCTYPE html>
    <html>
        <head>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <style>
                table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
                }
                td, th {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
                }
                tr:nth-child(even) {
                background-color: #dddddd;
                }
            </style>
        </head>
        <!-- <body>
            <center>
                <h2>PARKED CARS</h2>
            </center>
            <table class="table">
                <thead>
                    <tr>
                        <th>REGISTRATION NUMBER</th>
                        <th>SLOT NUMBER</th>
                        <th>COLOUR</th>
                        <th>ENTRY TIME</th>
                        <th>EXIT</th>
                    </tr>
                </thead>
                {% for each_cars in latest_cars_list %}
                <tbody>
                    <tr>
                        <td>{{ each_cars.reg_number}}</td>
                        <td>{{each_cars.slot}}</td>
                        <td>{{each_cars.colour}}</td>
                        <td>{{each_cars.reg_date}}</td>
                        <td>
                            <form action="/cars/exit_car" method="post">{% csrf_token %}
                                <input type="hidden" value="{{ each_cars.slot}}" name="slot">
                                <input type="hidden" value="{{ each_cars.reg_number}}" name="reg_number">
                                <input type="submit" value="exit" name="make-unique">
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
            
        </body>
    </html> -->
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/cars/search_by_colour">search by colour</a>
    <a class="dropdown-item" href="/cars/search_by_reg_number">search by reg number</a>
  </div>
</div>
<div class="dropdown">
  <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Search by
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" href="/cars/search_by_colour">search by colour</a>
    <a class="dropdown-item" href="/cars/search_by_reg_number">search by reg number</a>
  </div>
</div>



{% for each_cars in data %}
{{ each_cars.reg_number}}<br>

{% endfor %}



<!DOCTYPE HTML>
<html>
<head>
<script>
window.onload = function () {

var options = {
    title: {
        text: "Cars With Duration"
    },
    subtitles: [{
        text: "As of November, 2017"
    }],
    animationEnabled: true,
    data: [{
        type: "bar",
        startAngle: 40,
        toolTipContent: "<b>{label}</b>: {y}%",
        showInLegend: "true",
        legendText: "{label}",
        indexLabelFontSize: 16,
        indexLabel: "{label} - {y}%",
        dataPoints: [
            { y: 48.36, label: "FC-77-LK-5844" }
        ]
        
    }]
};
$("#chartContainer").CanvasJSChart(options);

}
</script>
</head>
<body>
<div id="chartContainer" style="height: 100%; width: 100%;"></div>
<script src="https://canvasjs.com/assets/script/jquery-1.11.1.min.js"></script>
<script src="https://canvasjs.com/assets/script/jquery.canvasjs.min.js"></script>
</body>
</html> 


